
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/ body.css' %}">
    <link rel="stylesheet" href="{% static 'css/anime.css'%}">
    {% comment %} {% load static %} {% endcomment %}

 <script src="{% static 'js/quizes.js' %} "></script> 
    <title>Document</title>
</head>

<body>
<div id="loader">
        <div class="leftEye"></div>
        <div class="rightEye"></div>
        <div class="mouth"></div>
</div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md py-0 navbar-light bg-light sticky-top py-md-0">
        <div class="container">
            <a class="navbar-brand" href="#">
                    <img src="../images/logo.png" style="width:100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Age Images -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 change_content">
                <h1 class="my-4 text-center text-lg-left img_heading animated bounceIn">Male or Female ?</h1>

                <div class="row text-center text-lg-left animated fadeInLeft img_div">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="#" id="male" class="d-block mb-4 h-100 ">
                            <img class="img-fluid img_enlarge" src="images/change/youth.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="#" id="female" class="d-block mb-4 h-100 ">
                            <img class="img-fluid img_enlarge" src="images/change/youth_women.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- <p>Uma sankar ksbskjsbkjskdjasnkjdnsakjdnkjasndjkasndkjasndkjnsakdjnaskjdnkasjdnkjasndkjasndkajsdnsknd</p> -->
            </div>
        </div>
    </div>
    
</body>
<script src="{% static 'js/index.js' %} "></script>
</html>